.form {
  padding: 2rem;
  display: flex;
  column-gap: 2rem;

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
  }

  &__image {
    height: 30rem;
    width: auto;
  }
}

.modal__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.line {
  padding: 1rem;
  border: 2px solid orangered;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  &__actions {
    margin-top: 1rem;
    display: flex;
    column-gap: 2rem;
  }

  &__image {
    height: 10rem;

    &--hide {
      display: none;
    }
  }
}
